<% title "Dashboard" %>

<section class="section-content">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= render 'partials/widgets/expandable-box' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= render 'partials/widgets/info-box', model: {m:TicketRaw} %>
    </div>
  </div>
</section>
