<% title 'Home' %>
<%= stylesheet('home') %>
<%= javascript('home') %>

<section class="content-sections demo-2">

  <div class="segmenter" style="background-image:url(assets/2.jpg)"></div>
  <h2 class="trigger-headline trigger-headline--hidden">
    <span>C</span>
    <span>S</span>
    <span>M</span>
    <span>B</span>
    <span>P</span>
    <span>I</span>
  </h2>

</section>

<p><%= @all_ctrls %></p>
