<div class="col-md-9 col-sm-12 span9">

  <div class="row">

    <div class="chart-container">
      <div class="hc-chart">
        Chart Goes here
      </div>
    </div>

  </div>

</div>

<div class="col-md-3 col-sm-12 span3">
  <div class="row-fluid">
    <div class="form-horizontal">
      <div class="form-group">
        <label for="inp1">Label for inp1</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-cogs"></i>
          </div>
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
  </div>
</div>
