<% title 'Portal' %>
<% jscript('portals') %>

<section class="content-sections">
  <div class="row">
    <div class="col-sm-6">
      <%= column_chart Region.joins(:projects).group(:name).count %>
    </div>
    <div class="col-sm-6">
      <%= column_chart Client.joins(:projects).group(:name).count %>
    </div>
  </div>

</section>
