<% present @portal do |portal_presenter| %>
  <section class="content-sections" ng-controller="HighCtrl as hcCtrl">
    <% if @portal.containers.any? %>
      <% @portal.containers.order('position ASC').each do |c| %>

          <%= content_tag :div, nil, :class => "#{c.css_class}" do %>
            <% if c.rows.any? %>

              <% c.rows.each do |r| %>
                <%= content_tag :div, nil, :class => "#{r.row_class}" do %>

                  <% if r.columns.any? %>
                    <% r.columns.each do |col| %>

                      <% if col.widget_types.any? %>

                        <% col.widget_types.each do |cwt| %>

                          <% if cwt.body.blank? %>
                            <%= render cwt.partial_link, block: cwt %>
                          <% else %>
                            <%= raw cwt.body %>
                          <% end %>

                        <% end %>

                      <% end %>

                    <% end %>
                  <% end %>

                <% end %>
              <% end %>

            <% end %>
          <% end %>

      <% end %>
    <% end %>
  </section>
<% end %>
