<section class="content-sections">
  <% @containers.each do |c| %>
    <%= content_tag :div, nil, :class => "#{c.css_class}" do %>
      <% c.rows.each do |r| %>
        <%= content_tag :div, nil, :class => "#{r.row_class}" do %>
          <%= r.name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
