<% title "New Blog" %>
<section class="content-sections">

  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Create New Gauge</h4>
        </div>
        <div class="panel-body">
          <%= render 'form', dmodel: @gauge %>
        </div>
      </div>
    </div>
  </div>

</section>
