<% title 'Edit ' + @dashboard.name %>

<%= render 'partials/section-header', content_header: { title: 'Editing Dashboard' } %>

<section class="section-content">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'form', dashboard: @dashboard, nav_btn: { :back => dashboards_path, :show => @dashboard } %>
    </div>
  </div>

</section>
