*,
*:before, *::before, *::after, *:after {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

html, body {
  min-height: 100%;
}

body, body.rykn0wxx {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-shadow: none !important;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
	font-size: 1.4rem;
  line-height: 1.4;
  background-color: #272B30;
  @include linear-gradient(#272B30, tint(#272B30, 10%));
  color: #ecf0f1;
  h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
		font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin: 0;
		text-shadow: none;
	}
  p {
		margin: 0 0 10px;
	}
	a {
		text-decoration: none;
		color: #448aff;
		@include transition(all 0.3s ease-in-out);
		&:hover, &:focus {
			color: #00b0ff;
			text-decoration: none;
		}
	}
  #wrapper,
  .wrapper {
  	overflow: hidden;
    min-height: 100%;
    position: relative;
  	@include clearfix;
  }
  .content-wrapper {
    min-height: 100%;
		padding: 54px 0;

    @include transition(all 0.3s ease-in-out);
    .content {
      min-height: 250px;
      padding: 15px;
      margin-right: auto;
      margin-left: auto;
      position: relative;
			.content-sections {
				@include transition(all 0.3s ease-in-out);
			}
    }
  }
	@media (min-width: $screen-sm-min) {
		.content-wrapper {
			padding-top: 100px;
		}
	}
  .navi-link {
    text-decoration: none;
    color: #0069d6;
    @include transition(all 0.3s ease-in-out);
    &:hover, &:focus {
      text-decoration: none;
      color: lighten(#0069d6, 15%);
    }
  }
	input[type=text], input[type=email], input[type=password], textarea {
    &.form-control {
      transition: all 0.30s ease-in-out;
      outline: none;
      border: 1px solid #DDDDDD;
      &:focus, &:focus {
        // box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        box-shadow: 0 0 5px rgba(231, 76, 60, 0.7);
        // border: 1px solid rgba(81, 203, 238, 1);
        border: 1px solid rgba(231, 76, 60, 0.9);
      }
    }
  }
	.row-fluid {
		width: 100%;
		*zoom: 1;
		@include clearfix;
	}
}

.rykn0wxx {
	.content-wrapper {
		z-index: 800;
	}
	.navbar-custom {
		&.navbar-fixed-top {
			z-index: 1030;
		}
	}
	.main-sidebar {
		z-index: 810;
	}
	.main-footer {
		z-index: 820;
	}
	&.sessions, &.registrations {
		#mainNav {
			display: none;
		}
		.content-wrapper {
			padding-top: 0;
		}
	}
	&.home {
		.content-wrapper {
			.content {
				padding: 0;
				min-height: 100%;
			}
		}
	}
}
