
.rykn0wxx {
  .form-container {
    .section-title {
      background-color: rgba(0,0,0,0);
    }
    .textbox-wrap {
      .input-group {
        background-color: $bg-inv-dark;
        border: 1px solid rgba(0,0,0,0);
      }
    }
  }
  .form-container, .form-links {
    background-color: $bg-inv-base;
    @include basic-container-shadow();
  }
  .slide {
    margin: 50px auto;
    max-width: 992px;
    border: 0px solid rgba(0,0,0,0);
    padding: 10px 30px 30px 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: $bg-inv-base;
    box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.3);
    .blurb {
      border-bottom: 4px solid black;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .title {
      font-size: 28px;
      letter-spacing: 0.02em;
    }
    .sub {
      font-size: 24px;
    }
    .slurp {
      background: #E3F2FD;
      padding: 30px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .garl {
        background: rgba(0,0,0,0.3);
        width: 90%;
        min-height: 150px;
        position: relative;
        padding: 20px 10px 10px 10px;
        box-shadow: 0px 20px 25px -10px rgba(0,0,0,0.2);
        background: rgba(darken($bg-inv-base, 5%),0.75);
        .form-control {
          background-color: mix(#fff, #24292e, 12.5%);
          border: 0 solid rgba(0,0,0,0);
          color: #ecf0f1;
        }
      }
    }
  }
  &.portals {
    md-content {
      background-color: rgba(0,0,0,0);
      margin-top: -30px;
    }
  }
  .form-section {
    background-color: rgba(0,0,0,0);
    display: block;
    position: relative;
    padding: 8px;
    overflow: auto;
  }
  input[type=text], textarea {
    outline: none;
    border: 1px solid rgba(0,0,0,0);
    @include transition(all 0.3s ease-in-out);
    &:focus {
      // box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      // border: 1px solid rgba(81, 203, 238, 1);
      box-shadow: 0 0 5px rgba(239,83,80, 1);
      border: 1px solid rgba(239,83,80, 1);
    }
  }
  .form-horizontal {
    textarea {
      &.form-control {
        height: 30px;
      }
    }
    .back {
      color: #c8c8c8;
      @include linear-gradient(#f44336, tint(#f44336, 10%));
    }
    .save {
      color: #c8c8c8;
      @include linear-gradient(#ef5350, tint(#ef5350, 10%));
    }
  }
}
