$theme-primary:    #dd4b39;
$theme-sub-primary: #F05F40;
.navbar-custom {
	background-color: $gray-darker;
	border-color: transparent;
	.navbar-brand {
		color: $theme-primary;
		font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		&:hover,
		&:focus,
		&:active,
		&.active {
			color: darken($theme-primary, 10%);
		}
	}
	.navbar-collapse {
		border-color: fade-out(white, .02);
	}
	.navbar-toggle {
		background-color: $theme-sub-primary;
		border-color: $theme-primary;
		font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: white;
		font-size: 12px;
		&:hover,
		&:focus {
			background-color: $theme-sub-primary;
		}
	}
	.nav {
		li {
			a {
				font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-weight: 400;
				letter-spacing: 1px;
				color: lighten($theme-primary, 20%);
				&:hover, &:focus {
					background-image: none;
					background-color: rgba(0,0,0,0.4);
					color: lighten($theme-primary, 30%);
					outline: none;
				}
			}
		}
	}
	.navbar-nav {
		> li {
			> a {
				@include transition(all 0.3s ease-in-out);
				&.active {
					border-radius: 0;
					color: lighten($theme-primary, 30%);
					background-color: $theme-primary;
					&:hover, &:focus {
						color: white;
						background-color: darken($theme-primary, 10%);
						background-image: none;
					}
				}
			}
		}
	}
	.navbar-nav>.active>a {
		border-radius: 0;
		color: white;
		background-color: $theme-primary;
	}
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
		color: white;
		background-color: darken($theme-primary, 10%);
	}
}

@media(min-width:768px) {
	.navbar-custom {
		background-color: transparent;
		background-image: none;
		padding: 25px 0;
		transition: padding 0.3s;
		border: none;
		.navbar-brand {
			font-size: 2em;
			transition: all 0.3s;
		}
		.navbar-nav {
			> li {
				> a {
					border-right: 0 solid rgba(0,0,0,0);
					border-left: 0 solid rgba(0,0,0,0);
				}
			}
			> .active {
				> a {
					border-radius: 3px;
				}
			}
		}
	}
}

// Navbar Change on Scroll

@media(min-width:768px) {
	.navbar-custom.affix {
		background-color: rgba($gray-darker, 0.7);
		padding: 10px 0;
		@include shadow-l1;
		.navbar-brand {
			font-size: 1.5em;
		}
	}
}
