@import "bourbon";
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rykn0wxx {

  &.home .content-wrapper {
    padding: 0 !important;
  }

  .segmenter {
  	width: 100vw;
  	height: 100vh;
  	position: relative;
  	overflow: hidden;
  }

  .segmenter__image {
  	width: 100%;
  	display: block;
  }

  .segmenter__background,
  .segmenter__pieces,
  .segmenter__piece-wrap,
  .segmenter__piece-parallax,
  .segmenter__piece {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
  	-webkit-transform-style: preserve-3d;
  	transform-style: preserve-3d;
  }

  .segmenter__piece-parallax {
  	-webkit-transition: -webkit-transform 0.2s ease-out;
  	transition: transform 0.2s ease-out;
  }

  .segmenter__pieces {
  	-webkit-perspective: 400px;
  	perspective: 400px;
  }

  .segmenter__background,
  .segmenter__piece {
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  }

  .segmenter__shadow {
  	position: absolute;
  	opacity: 0;
  	box-shadow: 0px 2px 15px rgba(0,0,0,0.7);
  }

  /* Individual shadow styles */
  .demo-1 .segmenter__shadow {
  	box-shadow: 0px 20px 50px rgba(18, 20, 28, 0.61);
  }

  .demo-2 .segmenter__shadow {
  	box-shadow: 10px 10px 30px rgba(43, 27, 19, 0.95);
  }

  .demo-3 .segmenter__shadow {
  	border: 7px solid rgba(255,255,255,0.7);
  	box-shadow: none;
  }

  .demo-3 .segmenter__shadow::before {
  	content: '';
  	position: absolute;
  	top: -20px;
  	left: -20px;
  	width: 100%;
  	height: 100%;
  	box-shadow: -5px -5px 30px rgba(0, 0, 0, 0.7);
  }

  .demo-4 .segmenter__shadow {
  	box-shadow: 8px 8px 30px rgba(15, 32, 38, 0.35);
  }

  .demo-5 .segmenter__shadow {
  	box-shadow: 0px 18px 29px rgba(4, 19, 22, 0.65);
  }

  .demo-6 .segmenter__shadow {
  	box-shadow: 2px 20px 35px rgba(25, 23, 20, 0.75);
  }

  .demo-2 .trigger-headline { color: #fbe094; }

  .trigger-headline {
  	top: 0;
  	left: 0;
  	position: absolute;
  	font-size: 6vw;
  	text-transform: uppercase;
  	pointer-events: none;
  	line-height: 1;
  	width: 100%;
  	height: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin: 0;
    span, .home-box {
      display: inline-block;
    	position: relative;
    	padding: 0 5vw;
    	transition: opacity 2s, transform 2s;
    	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    	transition-delay: 0.7s;
    }
  }

  .trigger-headline--hidden {
    span, .home-box {
    	pointer-events: none;
    	opacity: 0;
    }
  }


  .trigger-headline--hidden {
    span, .home-box {
      &:nth-child(1) {
      	transform: translate3d(-100px,0,0);
      }
    }
  }
  .trigger-headline--hidden {
    span, .home-box {
      &:nth-child(2) {
        transform: translate3d(-50px,0,0);
      }
    }
  }
  .trigger-headline--hidden {
    span, .home-box {
      &:nth-child(3) {
        transform: translate3d(-25px,0,0);
      }
    }
  }
  .trigger-headline--hidden {
    span, .home-box {
      &:nth-child(4) {
        transform: translate3d(25px,0,0);
      }
    }
  }
  .trigger-headline--hidden {
    span, .home-box {
      &:nth-child(5) {
        transform: translate3d(50px,0,0);
      }
    }
  }
  .trigger-headline--hidden {
    span, .home-box {
      &:nth-child(6) {
        transform: translate3d(100px,0,0);
      }
    }
  }

  .wrapper {
    #mainNav {
      background-color: rgba(0,0,0,0);
      background: rgba(0,0,0,0);
      background-image: none;
      .navbar-brand {
        color: lighten(#dd4b39, 25%);
        transition: all 0.2s ease-in-out;
        &:hover {
          color: lighten(#dd4b39, 35%);
        }
      }
    }
  }

  &.home {

    .home {
      pointer-events: auto;
      font-size: 18px;
    	text-transform: none;
      .hb {
        color: #E0A5B7;
        cursor: pointer;
        @include linear-gradient(#525253, shade(#525253 , 20%));
        padding: 25px;
        @include transition(all 0.3s ease);
        width: 100%;
        height: 200px;
        margin-top: 4px;
        overflow: hidden;
        opacity: .9;
        border: 1px solid rgba(255, 255, 255, 0.1);
        @include border-radius(3px);
        @include box-shadow(inset 0px 0px 10px 0px rgba(255, 255, 255, 0.1));
        &:hover {
          background-image: none;
          background: darken(shade(#525253 , 20%), 10%);
          background-color: darken(shade(#525253 , 20%), 10%);
          color: #E0A5B7;
        }
        .fa {
          float: right;
          font-size: 18px;
          @include transition(all 0.3s ease);
        }
        .title {
          position: relative;
          font-size: 16px;
          text-transform: uppercase;
          top: 145px;
          left: 25px;
          color: #ecf0f1;
          @include transition(all 0.3s ease);
        }
        &.custom {
          color: #0c2231;
          background-image: none;
          background-color: rgba(#A9C7D7, 0.9);
          height: 402px;
          padding-right: 0;
          .title {
            top: 25px;
          }
          &:hover {
            background-color: #657083;
            background-image: none;
            color: #ecf0f1;
          }
        }
      }
      .raise {
        .hb {
          margin-top: -200px;
        }
      }
      [class^="col-"] {
        padding-left: 1px;
        padding-right: 1px;
      }
      .on {
        display: block !important;
        @include animation(activate .5s ease);
      }
      .off {
        @include animation(remove .5s ease);
        opacity: 0;
      }
    }


  }


}
