@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
$bkxs:     480px !default;
$bksm:     768px !default;
$bkmd:     992px !default;
$bklg:     1200px !default;
$bkxlg:     1920px !default;
$blurimg: '123H.jpg';

.img-blur {
  position: absolute;;
  left: 0;
  top: 0;
  z-index: -1;
  background: url($blurimg);
  background-attachment: scroll;
  background-size: cover;
  display: block;
  width: calc(100%);
  height: 100%;
  filter: blur(5px) grayscale(0.7);
}

.header {
  z-index: 2;
	text-align: center;
	color: white;
	.intro-text {
		padding-top: 100px;
		padding-bottom: 50px;
		.intro-lead-in {
			font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-style: italic;
			font-size: 22px;
			line-height: 22px;
			margin-bottom: 25px;
		}
		.intro-heading {
			font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: 700;
			font-size: 50px;
			line-height: 50px;
			margin-bottom: 25px;
		}
	}
}

@media(min-width:768px) {
	.header {
		.intro-text {
			padding-top: 200px;
			padding-bottom: 200px;
			.intro-lead-in {
				font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-style: italic;
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 25px;
			}
			.intro-heading {
				font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-weight: 700;
				font-size: 75px;
				line-height: 75px;
				margin-bottom: 50px;
			}
		}
	}
}
